<%= form_with(model: professional_datum, local: true) do |form| %>
  <% if professional_datum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(professional_datum.errors.count, "error") %> prohibited this professional_datum from being saved:</h2>

      <ul>
        <% professional_datum.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :job_title_en %>
    <%= form.text_field :job_title_en %>
  </div>

  <div class="field">
    <%= form.label :job_title_ar %>
    <%= form.text_field :job_title_ar %>
  </div>

  <div class="field">
    <%= form.label :period_from %>
    <%= form.datetime_select :period_from %>
  </div>

  <div class="field">
    <%= form.label :period_to %>
    <%= form.datetime_select :period_to %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
