<p id="notice"><%= notice %></p>

<h1>Professional Data</h1>

<table>
  <thead>
    <tr>
      <th>Job title en</th>
      <th>Job title ar</th>
      <th>Period from</th>
      <th>Period to</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @professional_data.each do |professional_datum| %>
      <tr>
        <td><%= professional_datum.job_title_en %></td>
        <td><%= professional_datum.job_title_ar %></td>
        <td><%= professional_datum.period_from %></td>
        <td><%= professional_datum.period_to %></td>
        <td><%= professional_datum.user_id %></td>
        <td><%= link_to 'Show', professional_datum %></td>
        <td><%= link_to 'Edit', edit_professional_datum_path(professional_datum) %></td>
        <td><%= link_to 'Destroy', professional_datum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Professional Datum', new_professional_datum_path %>
