<p id="notice"><%= notice %></p>

<p>
  <strong>Job title en:</strong>
  <%= @professional_datum.title['en'] %>
</p>

<p>
  <strong>Job title ar:</strong>
  <%= @professional_datum.title['ar'] %>
</p>

<p>
  <strong>Started At:</strong>
  <%= @professional_datum.started_at %>
</p>

<p>
  <strong>Ended At:</strong>
  <%= @professional_datum.ended_at %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @professional_datum.employee_id %>
</p>

<%= link_to 'Edit', edit_employee_professional_datum_path(@professional_datum) %> |
<%= link_to 'Back', employee_professional_datum_path %>
