<%= form_with(model: employee, local: true) do |form| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
        <% employee.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.fields_for :title, OpenStruct.new(employee.title) do |title_fields| %>
      <%= title_fields.label :title_ar %>
      <%= title_fields.text_field 'ar' %>
      <%= title_fields.label :title_en %>
      <%= title_fields.text_field 'en' %>
    <% end %>
  </div>

  <div class="field">
    <%= form.fields_for :name, OpenStruct.new(employee.name) do |name_fields| %>
      <%= name_fields.label :name_ar %>
      <%= name_fields.text_field 'ar' %>
      <%= name_fields.label :name_en %>
      <%= name_fields.text_field 'en' %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
