<p id="notice"><%= notice %></p>

<p>
  <strong>Title en:</strong>
  <%= @employee.title['en'] %>
</p>

<p>
  <strong>Title ar:</strong>
  <%= @employee.title['ar'] %>
</p>

<p>
  <strong>Name en:</strong>
  <%= @employee.name['en'] %>
</p>

<p>
  <strong>Name ar:</strong>
  <%= @employee.name['ar'] %>
</p>

<p>
  <strong>User:</strong>
  <%= @employee.user.id %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
