<!DOCTYPE html>
<html lang='<%= I18n.locale %>'>
  <head>
    <title>RailsTraining</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body dir='<%= I18n.locale == :ar ? 'rtl' : 'ltr' %>'>
    <p>
      <%= link_to('English', url_for(:locale => :en)) if I18n.locale != :en %>
      <%= link_to('Arabic', url_for(:locale => :ar))  if I18n.locale != :ar %> |
      <%= link_to 'Employees', employees_path %>
    </p>
    <p>
      <% if user_signed_in? %>
        Logged in as <b><%= current_user.email %></b>.
        <%= link_to 'Edit profile', edit_user_registration_path %> |
        <%= link_to "Logout", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path %> |
        <%= link_to "Login", new_user_session_path %>
      <% end %>
    </p>
    
    <%= yield %>
  </body>
</html>
